<header class="header fixed-top d-flex align-items-center">
    <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="assets/img/logo.jpg" height="250px;" width="425px" alt="Sharada Hotel & Lawns">  
      <!-- <h1><span>Sharada Hotel & Lawns.</span></h1>  -->
      <a class="navbar-brand btn-book-a-table" href="booktable">Book a Table</a>
    </a>
      <nav class="navbar navbar-expand-lg">
     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="event">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
        </ul>
        
      </div>
    </nav>
    
  </header>